* {
    color: black;
    font-family: 'Saira Extra Condensed', sans-serif;
    

}

body {
    background: url('https://images.pexels.com/photos/6753886/pexels-photo-6753886.jpeg?cs=srgb&dl=pexels-vikram-6753886.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;

    
  }

  #about{
    position: fixed;
    top: 30%;
    left: 45%;
  }
  #aboutme {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  nav {
    position: fixed;
    top: 20%;
    left: 18%;
  }
  
  nav a {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    padding: auto;
    padding: 0px 50px;
  }
  
  .image {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
  }
  
  .image img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid black;
  }
